<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body>
  <header> 
    <div class="barra1"></div>
<section id="banner">
   
    <div class="banner"><img src="/img/home-img/hand-1850120 1.png" alt="dj">
       <div class="banner-inf">
        <h1>BeatLab</h1>
        <h2>Your voice to the world!</h2>
        <input type="text" placeholder="Search">
    <nav>
        <ul>
            <li><a href="/home.html/recentes" class="menu">Recentes</a></li>
            <li><a href="/Playlist" class="menu">Playlist</a></li>
        </ul>
    </nav>
     </div> </div>
</section>
<section id="profile-player">
    <div class="profile">
        <img src="/img/home-img/pexels-erik-mclean-8517921.jpg" alt="#">
        <a href=""><h2>Nome Sobrenome</h2></a>
    </div>
    <div class="player"><h1>Player</h1> 
    </div>
</section>
  </header>
  <main>
    <section class="top">
        <h1>Top 10 cover da semana </h1>
        <div class="container-scroll">
            <div class="card">
                <img src="/img/home-img/foto2.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>
            <div class="card">
                <img src="/img/home-img/foto3.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>   <div class="card">
                <img src="/img/home-img/foto4.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>   <div class="card">
                <img src="/img/home-img/foto5.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>   <div class="card">
                <img src="/img/home-img/foto6.png" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>   <div class="card">
                <img src="/img/home-img/foto7.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>
            <div class="card">
                <img src="/img/home-img/foto9.jpg" alt="">
                <footer>
                <span>musica</span> 
                <span>nome do artista</span>
                </footer>
            </div>
        </div>
    </section>
    <section id="recentes">
        <a href="/home.html/recentes"><h1>Ouvidas recentes</h1></a>
        <div class="container-recentes">
        <div class="card-recente">
            <img src="/img/home-img/foto3.jpg" alt="">
            <footer>
                <span>musica</span>
                <span>nome artista</span>
            </footer>
            </div><div class="card-recente">
                <img src="/img/home-img/foto2.jpg" alt="">
                <footer>
                    <span>musica</span>
                    <span>nome artista</span>
                </footer>
                </div><div class="card-recente">
                    <img src="/img/home-img/foto9.jpg" alt="">
                    <footer>
                        <span>musica</span>
                        <span>nome artista</span>
                    </footer>
                    </div><div class="card-recente">
                        <img src="/img/home-img/foto4.jpg" alt="">
                        <footer>
                            <span>musica</span>
                            <span>nome artista</span>
                        </footer>
                        </div><div class="card-recente">
                            <img src="/img/home-img/foto6.png" alt="">
                            <footer>
                                <span>musica</span>
                                <span>nome artista</span>
                            </footer>
                            </div>
        </div>
    </section>
    <section id="playlist">
        <a href="/Playlist"><h1>Playlist</h1></a>
        <div class="card-playlist">
            <img src="/img/home-img/foto6.png" alt="">
            <footer>
                <span>Playlist</span>
             
            </footer>
        </div><div class="card-playlist">
            <img src="img/home-img/foto2.jpg" alt="">
            <footer>
                <span>Playlist</span>
                
            </footer>
        </div><div class="card-playlist">
            <img src="/img/home-img/foto5.jpg " alt="">
            <footer>
                <span>Playlist</span>
               
            </footer>
        </div>
    </section>
  </main>
     
  
  <footer>
    <div class="barra-lateral1"></div>
    <div class="barra-lateral2"></div>
    <h1>BeatLab</h1>
  
  </footer>  
</body>
</html>