<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <script src="/js/home.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">""
    <title>Home</title>
</head>
<body>
  <header> 
    <div class="barra1"></div>
    <section id="banner">
       
        <div class="banner"><img src="/img/home-img/hand-1850120 1.png" alt="dj">
           <div class="banner-inf">
            <h1>BeatLab</h1>
            <h2>Your voice to the world!</h2>
           
         </div> </div>
        <section class="menuH">
         <nav id="nav">
            <button aria-label="Abrir Menu"  id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburguer"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="/views/login.html">Login</a></li>
                <li><a href="/views/home.html">Perfil</a></li>
                <li><a href="/">Historico</a></li>
            </ul>
        </nav>
        
        <input type="text" placeholder="Search">
    </section>
    </section>
    <section id="profile-player">
        <div class="profile">
            <a href=""> <img src="/img/home-img/foto5.jpg" alt="#"></a>
        </div>
        <div class="player">
            <img src="/img/home-img/Group 1.png" alt="player"> 
        </div>
    </section>
      </header>
      <main>
        
        <section class="new">
            <h1>Descubra novos artistas</h1>
            <div class="newMusic">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
    
                <div class="cardsMusic first">
                    <img src="/img/home-img/foto9.jpg" alt="img1">
                    <footer>
                        <span>Julua</span> 
                        <span>nome do artista</span>
                        </footer>
                </div>
                <div class="cardsMusic">
                    <img src="/img/home-img/foto5.jpg" alt="img2">
                    <footer>
                        <span>musica</span> 
                        <span>nome do artista</span>
                        </footer>
                </div>
                <div class="cardsMusic">
                    <img src="/img/home-img/foto4.jpg" alt="img3">
                    <footer>
                        <span>musica</span> 
                        <span>nome do artista</span>
                        </footer>
                </div>
                <div class="cardsMusic">
                    <img src="/img/home-img/foto3.jpg" alt="img4">
                    <footer>
                        <span>musica</span> 
                        <span>nome do artista</span>
                        </footer>
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </section>
       
        <h1 class="topH1">Top 10 cover da semana </h1>
        <section class="top">
            
            <div class="container-scroll " >
                <input type="radio" name="radio-btn-scroll" id="carrosselScroll1">
                <input type="radio" name="radio-btn-scroll" id="carrosselScroll2">
                
                <div class="container1 scroll">
                <div class="card">
                    <img src="/img/home-img/foto2.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista1</span>
                    </footer>
                </div>
                <div class="card">
                    <img src="/img/home-img/foto3.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista2</span>
                    </footer>
                </div> 
                  <div class="card">
                    <img src="/img/home-img/foto4.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista3</span>
                    </footer>
                </div>  
                  <div class="card">
                    <img src="/img/home-img/foto6.png" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista4</span>
                    </footer>
                </div>  
            </div>
            <div class="container1">
                 <div class="card">
                    <img src="/img/home-img/foto5.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista5</span>
                    </footer>
                </div>  
                 <div class="card">
                    <img src="/img/home-img/foto6.png" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista6</span>
                    </footer>
                </div>   
                <div class="card">
                    <img src="/img/home-img/foto7.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista7</span>
                    </footer>
                </div>
                </div>
                <div class="container1">
                <div class="card">
                    <img src="/img/home-img/foto9.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista8</span>
                    </footer>
                </div>
                <div class="card">
                    <img src="/img/home-img/foto5.jpg" alt="">
                    <footer>
                    <span>musica</span> 
                    <span>nome do artista9</span>
                    </footer>
                </div>
                <div class="card">
                    <img src="/img/home-img/foto2.jpg" alt="">
                    <footer>
                    <span>musica</span>
                    <span>nome do artista0</span>
                    </footer>
                </div>
                
            </div>
        </div>
            <div class="navigation-manual-top">
                <label for="carrosselScroll1" class="manual-btn-scroll"></label>
                <label for="carrosselScroll2" class="manual-btn-scroll"></label>
               
            </div>
        </section>
        <section id="recentes">
            <a href="/home.html/recentes"><h1>Ouvidas recentes</h1></a>
            <div class="container-recentes">
            <div class="card-recente">
                <img src="/img/home-img/foto3.jpg" alt="">
                <footer>
                    <span>musica</span>
                    <span>nome artista</span>
                </footer>
                </div><div class="card-recente">
                    <img src="/img/home-img/foto2.jpg" alt="">
                    <footer>
                        <span>musica</span>
                        <span>nome artista</span>
                    </footer>
                    </div><div class="card-recente">
                        <img src="/img/home-img/foto9.jpg" alt="">
                        <footer>
                            <span>musica</span>
                            <span>nome artista</span>
                        </footer>
                        </div><div class="card-recente">
                            <img src="/img/home-img/foto4.jpg" alt="">
                            <footer>
                                <span>musica</span>
                                <span>nome artista</span>
                            </footer>
                            </div><div class="card-recente">
                                <img src="/img/home-img/foto6.png" alt="">
                                <footer>
                                    <span>musica</span>
                                    <span>nome artista</span>
                                </footer>
                                </div>
            </div>
        </section>
        <section id="playlist">
            <a href="/Playlist"><h1>Playlist</h1></a>
            <div class="cardPlay">
            <div class="card-playlist">
                <img src="/img/home-img/foto6.png" alt="">
                <footer>
                    <span>Playlist</span>
                 
                </footer>
            </div>
            <div class="card-playlist">
                <img src="/img/home-img/foto9.jpg" alt="">
                <footer>
                    <span>Playlist</span>
                    
                </footer>
            </div>
            <div class="card-playlist">
                <img src="/img/home-img/foto5.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>
            <div class="card-playlist">
                <img src="/img/home-img/foto7.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>
            <div class="card-playlist">
                <img src="/img/home-img/foto2.jpg " alt="">
                <footer>
                    <span>Playlist</span>
                </footer>
            </div>
        </div>
        </section>
    
      </main>
         
      
      <footer>
        <div class="barra-lateral1"></div>
        <div class="barra-lateral2"></div>
        <h1>BeatLab</h1>
      
      </footer>  
      </body>
    </html>