<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/listadepordutos.css">
    <title>ListadeProdutos</title>
</head>
<body>
    <header class="menuprincipal">
        <div class="barra1"></div>
        <section id="banner">
           
            <div class="banner"><img src="/img/home-img/hand-1850120 1.png" alt="dj">
               <div class="banner-inf">
                <h1>BeatLab</h1>
                <h2>Your voice to the world!</h2>
                <input type="text" placeholder="Search">
                </div>                         
        </section>
        <section class="perfil">
            <img class="fotoPerfil" src="./img/painelUsario-img/bottao perfil (1).png" alt="">
            <h4 class="nomePerfil">nome do usuario</h1>            

        </section>          
</header>    

    <main>
        <div class="nome-lista">
            <h1>Musicas??? Rock,Hip Hop etc</h1>

        </div>
        <div class="produto">
            <div class="primeiro-produto">
                <img class="img1"  src="/img/info-produto-img/foto2.jpg" alt="">
                <h2 class="nome-artista1">Artista?</h2>
                <p class="descricao">descriçao do produto</p>
                <p class="categoria">categoria</p>
                <button>
                    <img class="img-botao"  src="/img/info-produto-img/375.png" alt="">
                </button>
                <p class="preco">preço</p> 
                <button class="Comprar">Comprar</button>           
            </div>
            <div class="segundo-produto">
                <img class="img1"  src="/img/info-produto-img/foto3.jpg" alt="">
                <h2 class="nome-artista1">Artista?</h2>
                <p class="descricao">descriçao do produto</p>
                <p class="categoria">categoria</p>
                <button>
                    <img class="img-botao"  src="/img/info-produto-img/375.png" alt="">
                </button>
                <p class="preco">preço</p> 
                <button class="Comprar">Comprar</button>           
            </div>
            <div class="terceiro-produto">
                <img class="img1"  src="/img/info-produto-img/foto4.jpg" alt="">
                <h2 class="nome-artista1">Artista?</h2>
                <p class="descricao">descriçao do produto</p>
                <p class="categoria">categoria</p>
                <button>
                    <img class="img-botao"  src="/img/info-produto-img/375.png" alt="">
                </button>
                <p class="preco">preço</p>
                <button class="Comprar">Comprar</button>             
            </div>
            <div class="quarto-produto">
                <img class="img1"  src="/img/info-produto-img/foto5.jpg" alt="">
                <h2 class="nome-artista1">Artista?</h2>
                <p class="descricao">descriçao do produto</p>
                <p class="categoria">categoria</p>
                <button>
                    <img class="img-botao"  src="/img/info-produto-img/375.png" alt="">
                </button>
                <p class="preco">preço</p>
                <button class="Comprar">Comprar</button>             
            </div>
        </div>
          

              
    </main>


    <footer>



    </footer>
</body>
</html>