<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Login.css">
   <script src="/js/login.js" defer ></script>
    <title>login</title>
</head>
<body>
    <header></span>
    </header>
    <main>
      
        <section id="tela-login">
           <span id="msgAlerta"></span>
            <div class="caixa-login">
                <h1>Login</h1>
                
                <form class="login" id="formLg">
                    <label for="email">Email *</label>
                    <input type="email" name="email" id="email" placeholder="Exemplo@exemplo.com">
                    <label for="password">Senha *</label>
                    <input type="password" name="password" id="password">
                <button class="bt-login">Login</button>    
            </form>
                <a href="#lost-password">Esqueceu a senha?</a><br>
            </div>
           <div id="caixa2">
            <div class="registrar">
                <h4>Ainda não tem uma conta? <a href="/views/signup.html">Registre-se</a></h4>              
                <a href="htps:www.google.com"><button ><img src="/img/login-img/google.png" alt="" >Continuar com o Google?</button></a>
          </div>
          </div>
           
        
        </section>

      
        <section class="banner"> 
            <figure class="caixas">
                     <div class="barra-lateral1"></div>
                 <div class="barra-lateral2"></div>
               
                        <a href="/views/home.html"> <img class="banner1" src="/img/login-img/hand-1850120 1.png" alt=""></a>
        </figure>
        <div class="logo">
            <h5>BeatLab </h5>
        <h6> Your voice to the word!</h6>
        </div>  
        </section>
       
        
         </main>
    <footer></footer>
</body>
</html>