<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/painelDeUsuario.css">
    <script src="/js/painelDeUsuario.js" defer></script>

    <title>Painel de usuario</title>
</head>
<body>
    <header>
        <section class="player">
            <div id="player"><h1>player</h1></div>
        </section>
        <section class="menu">
            <nav>
                <ul>
                <li><a href="/views/home.html">Home</a></li>
                <li><a href="/views/home.html">Playlist</a></li>
                </ul>
            </nav>
        </section>
        <section class="profile">
            <div>
                <h1>Nome Sobrenome</h1>
            </div>
        </section>
    </header>
    <main>
        <section id="container1">
            <button id="bt-perfil">Perfil</button>
            <button id="bt-compras">Minhas compras</button>
        </section>
        <section id="container2"> 
            <h1>Alterar Dados</h1>
            <form class="inf-profile">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name">
                <label for="lastname">Sobrenome</label>
                <input type="text" name="lastname" id="lastname">
                <label for="number">Telefone para recuperar senha</label>
                <input type="number" name="number" id="number">
            </form>
            <button id="password"><a href="">Alterar Senha?</a></button>
            <button id="bt-save">Salvar altereção</button> 
        </section>
        <section id="container3"> 
            <div class="inf-img">
                <img src="/img/painelDeUsuario.img/image profile.jpg" alt="">
              <button id="bt-saveImg"> Alterar Foto</button>
            </div>
        </section>
        <div class="aboutMe">
           <label for="aboutMe">Conte um pouco sobre você</label>
            <textarea name="aboutMe" id="aboutMe" cols="30" rows="10" placeholder="Quem sou eu?"></textarea>
        </div>
       <section id="container4">
        <div id="buy">
            <h1>Compras recentes</h1>
            <div id="card">
                 <img src="" alt="">
                 <footer>
                    <span>musica</span>
                    <span>Nome Do Artista</span>
                 </footer>
            </div>
        </div>
       </section>
    </main>
    <footer></footer>
</body>
</html>