@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background: linear-gradient(49.5deg, #1B1B2C 57.92%, #3C3C73 89.34%);
   
}
header{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    flex-wrap:wrap;
    display: flex;

}
header h1{
    margin-top: 5rem;
    margin-left: 0%;
    font-size: 40px;
    width: 28rem;
    height: 3.3rem;
    text-align: end;
    font-family: 'Inter';
    border-bottom: .5rem solid #08F3C9;
    
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50rem;
    flex-wrap:wrap
}

.infPag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 4rem;
    position: relative;
    right: 9rem;
}
/* #dados{
     display: flex; 
     flex-direction: column;
    align-items: center;

} */
#dados{
    display: none;
}
.pag h1{
    margin: 2rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2rem;
    border: 2px solid #08F3C9;
}
#box label{
 font-size: 20px;
 color: #FFFFFF;
}
#box input{
display: flex;
flex-direction: column;
width: 18rem;
height: 1.8rem;
background: #514869;
box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-bottom: 2rem;
}
.termos{
    display: flex;
    flex-direction: row;
}
.termos h2{
    color: #FFFFFF;
    text-align: center;
}
.termos a{
    text-decoration: none;
    color: #08F3C9;
}
.bt-finalizar{
width: 11rem;
height: 3rem;
background: #08F3C9;
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-size: 19px;
transition-duration: 1222ms;
position: relative;
left: 10rem;
}
.bt-finalizar:hover{
    background-color: aqua;
    width: 40%;
}
#dadosPix{
    display: none;
}
.barra-lateral{
    width: .5rem;
    height: 26rem;
    background-color: #08F3C9;
    position: relative;
    left: .8rem;
    top: .5rem;

}
.formas-pag{
    display: flex;
    flex-direction: column;
    
}
.formas-pag img{
    width: 9rem;
       
}
.formas-pag .umclick{
    width: 12rem;
}
.formas-pag button{
    width: 12rem;
    height: 8rem;
    border-radius: .5rem;
    border-color: transparent;
    margin: .5rem;
    transition: 2000ms;
 }
.formas-pag .umclick h4{
    font-size: 15px;
   
}
.formas-pag .umclick img{
    width: 4rem;
}
.umclick span{
font-size: 12px;
}

.formas-pag button:hover{
    background-color: #08F3C9;
    width: 15rem;
}
 .hide{
    display: none;
 }
.janela-modal{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 15rem;
    background-color: #00000088;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
   
    
}
.inf-modal{
    width: 40rem;
    height: 25rem;
    background-color: #ffffff71;
    backdrop-filter: blur(10px);
    position: relative;
    bottom: 33rem;
    padding:1rem;
    border-radius: 15px;

    
}
.compra-realizada{
    background-color: #514869;
    position: relative;
    bottom: 2.4rem;
    right: 1rem;
    width: 42rem;
    height: 5rem;
    border-radius: 15px;
}
.compra-realizada h1{
    margin: 1rem;
    text-align: center  ;
}
.itens img{
    width: 6rem;
   height: 4rem;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
.inf-pagamento img{
    width: 4rem;
  
}
.itens footer{
    display: flex;
    flex-direction: column;
    
}
.itens span{
    margin-bottom: 1rem;
    font-size: 20px;
    margin-left: .5rem;
}

.itens{
    display: flex;
    flex-direction: row;
    width: 16rem;
    height: 4rem;
    background-color: #514869;
    margin: 2rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px;
}

.inf-pagamento{
width: 15rem;
height: 5rem;
background-color: #514869;
color: #FFFFFF;
position: absolute;
left: 3.1rem;
border-radius: 15px;
}
.inf-pagamento h4{
    color:#000000;
    text-align: center;
    width: 10rem;
    position: relative;
    bottom: 1rem;
    left: 2.3rem;
}

.inf-pagamento footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    justify-content: center;   
    position: relative; 
    bottom: 2.5rem;
}
#home-bt{
    position: absolute;
   width: 10rem;
   height: 2.5rem;
   border-radius: 15px;
   border: 0;
   background-color: #08F3C9;
   color: #FFFFFF;
   font-size: 30px;
   cursor: pointer;
   left: 28rem; 
   bottom: 3rem;
}
.janela-modal.abrir{
    display: flex;
}

