
body{
    background: linear-gradient(49.5deg, #1B1B2C 57.92%, #3C3C73 89.34%);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: row nowrap;
    justify-content: space-between;
    position: fixed ;   
    height: 13rem;
    width: 100%;
    top: 0%;
    flex-wrap: wrap;
    background: linear-gradient(49.5deg, #1B1B2C 57.92%, #3C3C73 89.34%);
    right: 0%;
  z-index: 100;
}
.barra1{
    width: 46rem;
    height: 3rem;
    background-color: #08F3C9;
    position: fixed;
    top: 2rem;
    left: 7rem;
}
.banner img{
    width: 20rem;
    height: 12rem;
    position: relative;
}
#banner .banner{
    display: flex;
    flex-direction: row;
    flex-wrap: row nowrap;
  
}

.banner-inf{
    display: flex;
    flex-direction: column;
}
.banner-inf h1{
    font-family: 'Kantumruy';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 63px;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
width: 25rem;
height: 3rem;
display: flex;
align-items: center;
justify-content: center;

position: relative;

}
.banner-inf h2{
    color: #08F3C9;
    position: relative;
    bottom: 3rem;
    left: 2rem;
}
.banner-inf input{
    background: #514869;
box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 9rem;
height: 1.6rem;
position: relative;
bottom: 3.5rem;
}
ul{
    display: flex;
    flex-direction: row;
    
}
.banner-inf li{
    list-style: none;
    position: relative;
    bottom: 4rem;
    right: 3.2rem;
    margin: 1rem;
}
.banner-inf a{
 text-decoration: none;
 color: black;
 font-size: 20px;   
}
.menu:hover{
    font-size: 20px;
    color: #08F3C9;
}
 #profile-player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
 }
 .profile{
    display: flex;
    flex-direction: row;
 }
 .profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 1rem;
    
 }
 .profile h2{
    margin: 1rem;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.02em;
color: #FFFFFF;
position: relative;
right: 1.5rem;
bottom: -.1rem;
 }
.profile a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;   
   }

.player{
    width: 20rem;
    height: 7rem;
    background-color: #08F3C9;
    border-radius: 1rem;
    text-align: center;
}
.top h1{
    background-color: #08F3C9;
    width: 55rem;
    height: 1.8rem;
    position: relative;
    right: 3rem;
    text-align: center;
    top: 20rem;
    font-size: 22px;
}
.container-scroll{
    width: 70rem;
    height: 16rem;
    overflow-x: scroll ; 
    position: relative;
    left: 30rem;
    display: flex;
    flex-direction: row;
    top: 22rem;
  
}
.container-scroll::-webkit-scrollbar{
    /* display: none; */
    background-color: #08F3C9;
    box-shadow: 0px 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px; 

}
.container-scroll::-webkit-scrollbar:hover{
    background-color:#514869    
}
.card img:hover{
        border: .5rem solid #514869;
        border-radius: 45%;
        transition: all 0.5s;
        cursor: pointer;
    
    }

.card{
    width: 15rem;
    height: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: #514869;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
.card img{
    width: 12rem;
    height: 8rem;
    transition: all .5s;
    border: .0rem solid transparent;
    background-color: #08F3C9;
    
}
.card span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    margin: .1rem;
}
#recentes a{
    text-decoration: none;
    color: black;
    font-size: 20px;   
   }
#recentes{
    width: 55rem;
    height: 1.8rem;
    text-align: center  ;
    right: 3rem;
     background-color: #08F3C9;
     position: relative;
     top: 23rem;
  
}
#recentes h1{
    font-size: 22px;
}
.container-recentes{
    width: 5rem;
    height: 1rem;
    display: flex; 
    align-items: center;
    flex-direction: row;
    margin: 2rem;
    position: relative;
    left: 30rem;
    top: 2rem;
  
}
.card-recente img{
    width: 7rem;
    height: 5rem;
    margin-right: .5rem;
    transition: all .5s;
    border: .0rem solid transparent;
    background-color: #08F3C9;
}
.card-recente img:hover{
    border: .1rem solid #514869;
    border-radius: 40%;
    transition: all 0.5s;
    cursor: pointer;
}
.card-recente{
    margin: 3rem;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    text-align: justify;
  
}
#playlist{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 35rem ;
    right: 3rem;
}
.card-playlist{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 2rem;
    right: 15rem;

}
#playlist a{
    text-decoration: none;
    color: black;
    font-size: 20px;   
   }
   #playlist a h1{
    width: 55rem;
    height: 1.8rem;
    text-align: center  ;
    right: 3rem;
     background-color: #08F3C9;
     font-size: 22px;
}
.card-playlist img{
    width: 7rem;
    height: 5rem;
    margin-right: .5rem;
    transition: all .5s;
    border: .0rem solid transparent;
    background-color: #08F3C9;
}
.card-playlist img:hover{
    border: .1rem solid #514869;
    border-radius: 40%;
    transition: all 0.5s;
    cursor: pointer;
}

footer h1{
    position: relative;
    top: 41rem;
    color: #FFFFFF;
}
.barra-lateral1{
    background-color: #08F3C9;
    position: relative;
    top: 44rem;
    height: 2rem;
    width: 45rem;
    right: 1rem;
}
.barra-lateral2{
    background-color: #08F3C9;
    position: relative;
    height: 2rem;
    width: 35rem;
    top: 42.6rem;
    left: 83.3rem;
    
}   



