@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100&display=swap');
body{ 
background: linear-gradient(49.5deg, #1B1B2C 57.92%, #3C3C73 89.34%);
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
}




main{
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-items: center; 
 color: white;
 



}
#msgAlerta {
    display: flex;
    flex-direction: column;
   background-color: transparent;
   border-radius: 15px;
   font-size: 20px;
   align-items: center;
   height: 6rem;
   margin: 0%;
   color: #FFFFFF;
}
#msgAlerta p{
    margin: 0%;
}

.caixa-login h1{
 color: #08F3C9;
 font-family: 'Italiana';
 font-style: normal;
 justify-content: center;
 display: flex;
 font-size: 40px;
  position: relative;
 bottom: 3rem;
}
#tela-login{
 background-color: #3A3359;
 width: 26.3rem;
 height: 28.3rem;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 4px 4px 5px rgba(0, 0, 0, 0.25);
 border-radius: 29px;
 display: flex;
 flex-direction: column;

 right: 10rem;
 top: 12rem;
 position: relative;

  
}

.login{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 position: relative;
 bottom: 4rem;

}
.login label{
 display: flex;
 justify-content: flex-start;
 font-family: 'Arial';
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 32px;
 letter-spacing: 0.03em;
 color: #FFFFFF;
 
}
.login input{
 width: 59%;
 height: 25px;
 background-color:  #514869;
 box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 display: flex;
 justify-content: center;
 

}


.bt-login{
display: flex;
justify-content: center;
align-items: center;
width: 11rem;
height: 2.3rem;
background-color: #08F3C9;
box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25); 
border-radius: 10px;
font-size: 25px;
transition: ALL 450ms;
position: relative;
top: 1rem;

}
.bt-login:hover{
 background-color: #514869;
 filter: brightness(125%);



}

.caixa-login a {
display: flex;
justify-content: center;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
#caixa2{
width: 26.2rem;
height: 7rem;
background: #463C70;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 4px 4px 5px rgba(0, 0, 0, 0.25);
border-radius: 29px;
display: flex;
justify-content: center;
}
.registrar  h4{
 display: flex;
 justify-content: center;
 font-size: 12px;
  

}
.registrar h4 a {
 color: aqua;
}


.registrar button{
 background-color: #463C70;
 width: 15rem;
 height: 2rem;
 background: #514869;
 box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 font-family: 'Arial';
 color: #FFFFFF;
 display: flex;
 justify-content: space-around;
 align-items: center;

}

.banner{
 display: flex;
 flex-direction: column;
 align-items: center;
 top: 80px;
 position: relative;
 z-index: 15;


}


.banner .caixas .banner1{
 position: relative;
 left: 1rem;
 bottom: 0px;
 background: url(hand-1850120.jpg);
 border-radius: 47px;
 z-index: 50;

}

.banner .caixas .barra-lateral1{
 position: absolute;
 width: 2rem;
 height: 25rem;
 left: 12rem;
 bottom: 25rem;
 z-index: 10;
 
background: #08F3C9;
}
.banner .caixas .barra-lateral2{
 position: absolute;
 width: 2rem;
 height: 48rem;
 left: 5rem;
 top: 15rem;
 z-index:15;

 background: #08F3C9;
}
.logo{
    position: relative;
    bottom: 15rem;
    right: 5rem;
}
.logo h5 {
font-family: 'Kantumruy Pro', sans-serif;
font-style: normal;
font-size: 35px;
line-height: 63px;
text-align: center;
letter-spacing: 0.2rem;
position: relative;
top: 9.5rem;
left: 7.6rem;

color: #FFFFFF;
}
.logo h6{
font-style: normal;
font-weight: 400;
font-size: 15px;
text-align: center;
letter-spacing: 0.02em;
position: relative;
top: 5rem;
left: 7.6rem;

color: #08F3C9;

}

@media (max-width:600px){
 body{
    width: 50%;
    height: 100%;
 }
    #tela-login{
    left: 19rem;
 }
 .banner{
   top: -3rem;
   right: 17rem;
 }
 .banner1{
  width: 12rem;
  height: 7rem;
 
 }
 .barra-lateral1{
    display: none;
 }
 .barra-lateral2{
    display: none;
 }
 .logo{
    left:4rem;
    bottom: 19rem;

 }
 .logo h5{
    /* top: -9rem; */
    /* left:  11.5rem; */
    background-color: #08F3C9;
    height: 3rem;
    width: 10.5rem;
    border-top-right-radius: 25px;
    font-size: 25px;

 }
 .logo h6{
    top: 7rem;
    font-size: 15px;
 }
}
